.git
.docker
.gitignore
.dockerignore
.gitattributes
.codeclimate.yml
.taskcluster.yml
env/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
build/
target/
.env
.venv/
.ropeproject
venv/
Dockerfile
docs/_build/
docker-compose.yml
.Python
develop-eggs/
.travis.yml
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
**/__pycache__/
**/*.py[cod]
*.so
**/.ropeproject
**/*.swp
